@import "../../../theme_variables";
/* Layout for search container */
.search-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(18, 23, 56, 0.9);
}
.search-focus, .button-close{
  cursor: pointer;
}
@include media-breakpoint-down(md){
  .search-focus{
    .text-label{
      display: none;
    }
  }
}

.button-close{
  &:focus{
    @include rotate(360deg);
  }
}
.search-widget {
  position: fixed;
  z-index: 1000;
  top: 0;
  @include rtl-left(0);
  width: 100%;
  height: 100vh;
}

.search-widget::before,
.search-widget::after {
  content: '';
  position: absolute;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  pointer-events: none;
  border: 1.5em solid #fff;
}

.search-widget::before {
  top: 0;
  @include rtl-left(0);
  border-right-width: 0;
  border-bottom-width: 0;
}

.search-widget::after {
  @include rtl-right(0);
  bottom: 0;
  border-top-width: 0;
  border-left-width: 0;
}

.button-close {
  position: absolute;
  top: 3rem;
  @include rtl-right(3rem);
  display: none;
  i{
    font-size: 5rem !important;
    color: rgba(255,255,255,0.5);
    @include media-breakpoint-down(sm){
      font-size: 2rem !important;
    }
  }
}

.search-widget .button-close {
  display: block;
}

.search-widget form {
  margin: 5em 0;
}

.ps_search {
  font-family: inherit;
  font-size: 10vw;
  line-height: 1.3;
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  padding: 0.05em 0;
  color: rgba(255,255,255,0.5);
  border-bottom: 2px solid;
  background-color: transparent;
  border-width: 0 0 2px 0;
  &:focus{
    outline: none !important;
  }
}

.ps_search::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
    font-size: 6vw;
    font-weight: normal;
    @include opacity(0.3);
}

.ps_search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
    font-size: 6vw;
    font-weight: normal;
    @include opacity(0.3);
}

.ps_search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
    font-size: 6vw;
    font-weight: normal;
    @include opacity(0.3);
}

.ps_search::-webkit-search-cancel-button,
.ps_search::-webkit-search-decoration {
  -webkit-appearance: none;
}

.ps_search::-ms-clear {
  display: none;
}

.search__info {
  font-size: 15px;
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 0.85em 0;
  @include rtl-text-align-right;
  color: rgba(255,255,255,0.5);
}




/************************/
/* Transitions      */
/************************/

.search-widget {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.search-widget.open {
  pointer-events: auto;
  opacity: 1;
}

/* Border */
.search::before,
.search::after {
  transition: transform 0.5s;
}

.search::before {
  transform: translate3d(-15px, -15px, 0);
}

.search::after {
  transform: translate3d(15px, 15px, 0);
}

.search-widget.open::before,
.search-widget.open::after {
  transform: translate3d(0, 0, 0);
}

/* Close button */
.button-close {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  @include transition(0.5s all ease-in-out 0s);
}

.search-widget.open .button-close {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* Search form with input and description */
.search-widget form {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  transition: opacity 0.5s, transform 0.5s;
}

.search-widget.open form {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}



@include media-breakpoint-down(xs){
  .search-widget form {
    margin: 5em 0 1em;
  }

  .search__info {
    @include rtl-text-align-left;
  }
  
}
