

// Mega Menu Module
// ========================================================================
$megamenu-outside-bg :	 						transparent !default;
$megamenu-bg: 											#fff !default;
$megamenu-color: 				    				#818796 !default;
$megamenu-font-family:              $font-family-secondary !default;
$megamenu-link-color: 							#818796 !default;
$megamenu-link-hover-color:         $theme-color-primary !default;
$megamenu-link-font-size:           rem(13px)  !default;
$megamenu-font-weight:           		700  !default;

$megamenu-parent-padding: 					rem(13px) rem(20px) !default;
$megamenu-parent-text-transform: 		uppercase!default;


$megamenu-sub-bg-color: 						#fff !default;
$megamenu-sub-font-family:             $font-family-base !default;
$megamenu-sub-text-color:           #8a8a8a !default;
$megamenu-sub-link-color: 					#8a8a8a !default;
$megamenu-sub-link-hover-color: 		$theme-color-primary !default;
$megamenu-sub-font-size:            $font-size-base !default;


$megamenu-heading-font-family: 			$font-family-secondary !default;
$megamenu-heading-font-size: 14px!default;
$megamenu-heading-color: #000!default;
